<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database Connection Settings -->
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:sms.db</property>
        
        <!-- SQL dialect and schema handling -->
        <property name="hibernate.dialect">org.hibernate.community.dialect.SQLiteDialect</property>
        <property name="hbm2ddl.auto">update</property>
        
        <property name="show_sql">true</property>
        <property name="format_sql">true</property> 

        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.generate_statistics">false</property>

        <property name="hibernate.logger.level">OFF</property>

        <!-- Registered Entity Classes -->
        <mapping class="amjad.sms.Student"/>
    </session-factory>
</hibernate-configuration>